<div class="details" *ngIf="movie">
  <div class="movie-banner">
    <img class="movie-banner-img" src="{{movie.Poster}}" alt="background image" />
  </div>

  <div class="movie-gauge">
    <mwl-gauge class="two" [max]="100" [dialStartAngle]="180" [dialEndAngle]="0" [value]="movieRating" [animated]="true"
      [color]="getColor" [animationDuration]="2">
    </mwl-gauge>
    <div class="movie-gauge-label">MetaScore</div>
  </div>

  <div class="movie-content">
    <div class="details-wrapper">
      <div class="movie-header">
        <h1 class="movie-header-title">{{movie.Title}}</h1>
        <h2 class="movie-header-release-date">Released {{movie.Released}}</h2>
        <p class="movie-header-genres">{{movie.Genre}}</p>
      </div>

      <div class="movie-description">
        <div class="label"><b>Description</b>
          <p>{{movie.Plot}}</p>
        </div>
        <div class="label"><b>Director</b>
          <p>{{movie.Director}}</p>
        </div>
        <div class="label"><b>Writer</b>
          <p>{{movie.Writer}}</p>
        </div>
        <div class="label"><b>Actors</b>
          <p>{{movie.Actors}}</p>
        </div>
        <div class="label"><b>Runtime</b>
          <p>{{movie.Runtime}}</p>
        </div>
      </div>
      
    </div>

    <div class="movie-feedback">
      <div class="movie-comment">
        <label for="comment">Comments</label><br>
        <textarea name="comment" id="comment" rows="8" placeholder="Give your feedback here ..."></textarea>
      </div>

      <div class="movie-stars">
        <form>
          <div class="rating">
            <input type='radio' hidden name='rate' id='rating_opt5' data-idx='0'>	
            <label for='rating_opt5'><span>one of the best!</span></label>
            
            <input type='radio' hidden name='rate' id='rating_opt4' data-idx='1'>
            <label for='rating_opt4'><span>amazing</span></label>
            
            <input type='radio' hidden name='rate' id='rating_opt3' data-idx='2'>
            <label for='rating_opt3'><span>interesting...</span></label>
            
            <input type='radio' hidden name='rate' id='rating_opt2' data-idx='3'>
            <label for='rating_opt2'><span>worth something</span></label>
            
            <input type='radio' hidden name='rate' id='rating_opt1' data-idx='4'>
            <label for='rating_opt1'><span>don't waste your time</span></label>
          </div>
        </form>

      </div>
    </div>

  </div>

</div>
